td= image
td= title
td= $.format.date(effectiveDate, 'dd/mm/yy')
td= description
td= keywords
td
    a.btn.btn-small.js-show Show
        i.icon-eye-open
    a.btn.btn-small.js-edit Edit
        i.fa.fa-icon-home
    button.btn.btn-small.js-delete Delete
        i.icon-remove

