div
    table
        thead
            th img
            th title
            th Effective Date
            th Description
            th Keywords
            th Action
        tbody
div.js-paginator
