td= image
td= title
td= $.format.date(effectiveDate, 'dd/mm/yy')
td= description
td= keywords
td
    a.btn.btn-small.js-show
        i.icon-eye-open
        |   Show
    a.btn.btn-small.js-edit
        i.icon-pencil
        |   Edit
    button.btn.btn-small.js-delete
        i.icon-remove
        |   Delete

