button.js-new.btn.btn-primary Add New
button.js-save.btn.btn-default Save
form#filter-form.form-search.form-inline.pull-right
    div.input-append
    input(type="text").span2.search-query.js-filter-criterion
    button(type="submit").btn Filter items
