doctype html
html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(charset='utf-8')
    title backbone-marionette-gulp: an app to manage links
    meta(name='viewport', content='width=device-width')

    link(rel='stylesheet', href='./css/vendor.css', type='text/css')
    link(rel='stylesheet', href='./css/main.css', type='text/css')

  body
    div#accountapp.container
        div#header-region
        div#main-region
        div#dialog-region
        div#footer-region

    script(src="./js/vendor.js")
    script(src="./js/bundle.js")