.container {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
table, form {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
thead {
    background-color: lightgray;
}
h1 {
    text-transform: uppercase;
}
.completed {
    text-decoration: line-through;
    color: lightgrey;
}
tr {
    border: 2px solid lightgray;
}
